/* NAVBAR */
nav{
    background: gray;
}

a{
    text-decoration: none;
    color: black;
}

.items-container{
    display: flex;
    flex-direction: row;
    gap:20px;
}


/* MAIN */
*{
    margin:0;
    padding: 0;
}

h2{
    color:blue;
}


/* FOOTER */