<html>
    <head>
        <title>This is index</title>
        <link href="/scss/style.css" rel="stylesheet" />
        <link href="/scss/navbar.css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	</head>
	<body>
		<div th:insert="navbar :: navbar"></div>
		<div class = "main">
			<h2>Hello its my ssssssssss ebook store</h2>
			<ul id="productList"></ul>
			<script type="text/javascript">
			
			
			</script>
		</div>
		<div th:insert="footer :: footer"></div>
	
    </body>
    
</html>