<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>
    <link href="/scss/navbar.css" th:href="@{/scss/navbar.css}" rel="stylesheet" />
</head>
<body>

<nav class="nav" th:fragment="navbar">
	<div class="nav-item-container">
		<a class="nav-item bold" href="/">
			<img class ="logo" th:src="@{/images/logo2.png}"/>
		</a>
		<a class="nav-item" href="/">learn more</a>
		<a class="nav-item last" href="/"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
	</div>
</nav>



</body>