<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>
    <link href="/scss/navbar.css" th:href="@{/scss/navbar.css}" rel="stylesheet" />
</head>
<body>

<ul  class="nav">
	<li class="nav-item">
		<a class="nav-link active" href="#">Active</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Link</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Link</a>
	</li>
	<li class="nav-item">
		<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	</li>
</ul>

<ul class="nav" th:fragment="navbar">
	<li class="nav-item">
		<a class="nav-link active" href="#">Home</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Store</a>
	</li>
</ul>


</body>