<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>
    <link href="/navbar.css" th:href="@{/navbar.css}" rel="stylesheet" />
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="items-container">
        <div class="item">
            <a href="/">link</a>
        </div>
        <div class="item">
            <a href="/">link</a>
        </div>
        <div class="item">
            <a href="/">link</a>
        </div>
    </div>
</nav>

</body>